<h1>Make a booking</h1>


<%= simple_form_for [@listing, @booking] do |l| %>
<%= l.input :pickup_on, as: :date, html5: true, input_html: { class: "datepicker" } %>
<br>
<%= l.input :return_on, as: :date, html5: true, input_html: { class: "datepicker" } %>
<br>
<%= l.submit %>
<% end %>

