<hr>
<footer class="footer">
  <div class="footer-addr">
    <h1 class="footer-logo">Air BallnBeer</h1>

    <h2 class="nav-title">Contact Us</h2>
    <div class="social-link">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  <ul class="footer-nav">
    <li class="nav-item">
      <h2 class="nav-title">Media</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>

        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <h2 class="nav-title">Legal</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; This app is made with ❤️for 🍻. All Right Reserved.</p>

    <span class="legal-links">
      <a href="#">Privacy Policy</a>

      <span></span>

      <a href="#">Terms of Use</a>
    </span>
  </div>
</footer>
