<div class="site-logo"></div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <h1>Air BallnBeer brings <span>fun</span> to <br> anywhere, anytime!</h1>
    <p>Let's start a party! 🥳</p>
    <%= link_to "Rent a Table", listings_path, class: "btn btn-ghost" %>
    <%= link_to "List a Table", new_listing_path, class: "btn btn-ghost" %>
  </div>
</div>

