.container {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.banner {
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

span {
  color: #e01919;
  font-weight: 800px;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
}

.banner h1 {
  margin-top: 52px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 32px;
  font-family: 'Graduate', cursive;
  font-weight: 700;
}

.banner p {
  font-size: 18px;
  color: white;
  opacity: .9;
  font-family: 'Graduate', cursive;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
