.btn-booking {
  background-color: #B31213;
  border: 1px solid #DFDFDF;
  color: #DFDFDF;
  border-radius: 38px;
  padding: 12px 28px;
  font-size: 14px;
  font-weight: bold;
  margin: 70px auto;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  &:hover {
    color: white;
    border: 1px solid white;
    transition: 0.3s;
  }
}

.btn-medium {
  background-color: gray;
  border: 1px solid #DFDFDF;
  color: #DFDFDF;
  border-radius: 38px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: lighter;
  margin: 70px auto;
  text-align: center;
  a {
    color: #ebe7e7;
    text-decoration: none;
    text-align: center;
  }
}

.btn-medium:hover {
  color: #ebe7e7;
  border: 1px solid #999999;
  transition: 0.3s;
  text-decoration: none;
}
.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  font-family: 'Graduate', cursive;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  font-family: 'Graduate', cursive;
  font-weight: 300;
}
