.flex-container {
  display: flex;
  justify-content: center; // or `flex-start`
  font-size: 18px;
  font-family: 'Raleway';
  letter-spacing: 3px;
}

.form-bg {
  background-image: asset-url('form-bg.jpg');
  background-position: cover;
  background-attachment: fixed;
  padding: 5rem 0;
}
.booking-form {
  background: rgba(255,255,255,0.9);
  margin: 0 auto;
  max-width: 640px;
  padding: 36px;
  border-radius: 8px;
  font-family: 'Raleway';
  text-align: center;
}


.form {
  background: rgba(255,255,255,0.8);
  margin: 0 auto;
  max-width: 640px;
  padding: 12px;
  border-radius: 8px;
  font-family: 'Raleway';
  text-align: center;
}
.form-title {
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  margin-bottom: 50px;
  margin-top: 20px;
  display: block;
  opacity: 1;
  font-family: 'Graduate';
}

.form-group {
  text-align: left;
  letter-spacing: 1px;
}

.form-actions  {
  border: 1px solid #3C3B6E;
  color: #3C3B6E;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form-actions:hover {
  opacity: 0.6;
}

.links {
  text-align:center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;

  a{
  font-size: 12px;
  padding: 32px;
  opacity: 1;
  color: #3C3B6E;
  }

  a:hover{
  padding: 32px;
  text-decoration: none;
  opacity: 0.8;
  }
}

.listing-show-container {
  display: flex;
}

