.flex-container {
  display: flex;
  justify-content: center; // or `flex-start`
  font-size: 18px;
  color: black;
  font-family: 'Raleway';
  letter-spacing: 3px;
}

.form-bg {
  height:100vh;
  background-image: asset-url('form-bg.jpg');
}
.booking-form {
  background: rgba(255,255,255,0.8);
  margin: 0 auto;
  max-width: 640px;
  padding: 36px;
  border-radius: 58px;
  font-family: 'Raleway';
  letter-spacing: 2px;
  text-align:center;
}

.form-row {
  margin-right: 42px;
  margin-left: 42px;
}
.form {
  background: rgba(255,255,255,0.8);
  margin: 0px 200px;
  padding: 12px;
  border-radius: 58px;
  font-family: 'Raleway';
  letter-spacing: 2px;
  text-align: center;
}
.form-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: black;
  display: block;
  opacity: 1;
  font-family: 'Graduate';
}

.form-actions  {
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.form-actions:hover {
  opacity: 1;
}

.links {
  text-align:center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;

  a{
  color: black;
  font-size: 12px;
  padding: 32px;
  opacity: 1;
  }

  a:hover{
  color: #4A4A4A;
  padding: 32px;
  text-decoration: none;
  opacity: 0.8;
  }
}
