.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Raleway';
  letter-spacing: 3px;
}

.form-bg {
  height: 125vh;
  background-image: asset-url('party2.jpg');
  background-size: cover;
}
.booking-form {
  background: rgba(255,255,255,0.9);
  margin: 0 auto;
  max-width: 640px;
  padding: 36px;
  border-radius: 8px;
  font-family: 'Raleway';
  text-align: center;
  font-color: #011638;
}

#form-img {
  margin: 10px;
  width: 250px;
  height: 200px;
}

#form-confirmation-btn{
  margin: 20px;
}

#total-price{
  margin:10px;
}

.form {
  background: rgba(255,255,255,0.8);
  margin: 0 auto;
  max-width: 740px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Raleway';
  text-align: center;
}
.form-title {
  text-align: center;

  margin-top: 15px;
  display: block;
  opacity: 1;
  font-family: 'Graduate';
}


.booking-details{
  color: #3C3B6E;
  font-weight: 500;
  opacity: 1;
}

a{
  font-size: 12px;
  padding: 12px;
  opacity: 1;
  font-weight: 450;
  }

#inbox-styling{
  text-align: left;
  display: inline-flex;
  padding-top:20px;
}


.form-inputs{
  border: solid;
  border-color: rgba(60,59,110,0.5);
  margin: 15px;
  border-width: thin;
}

.form-actions  {
  border: 1px solid #3C3B6E;
  color: #3C3B6E;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form-actions:hover {
  opacity: 0.6;
}

.links {
  text-align:center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;

  a{
  font-size: 12px;
  padding: 12px;
  opacity: 1;
  font-weight: 450;
  }

  a:hover{
  color: #4A4A4A;
  padding: 12px;
  text-decoration: none;
  opacity: 0.8;
  }
}

.listing-show-container {
  display: flex;
}

#card-align{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}

#profile-info{
  text-align: center;
  font-weight: 400;
}
