.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Raleway';
  padding: 2px 12px;

.logo-name {
  display: inline;
  font-family: 'Graduate';
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.15rem;
    font-weight: 300;

  &:hover {
    transform: translateY(10%);
    transition-timing-function: ease-out;
    transition: 0.2s;
  }

}

  .navbar-collapse {
    flex-grow: 0;
  }
.navbar-brand {
  margin: 0;
  padding: 0;
}
  .navbar-brand img {
    width: 40px;
  }

  .nav-link {
    display: inline;
    font-family: 'Raleway';
    padding: 0;
  }

  &.navbar-transparent {
    background-color: transparent;

    .logo {
      filter: invert(1);
    }

    .nav-link {
      filter: invert(1);
    }
  }
}

.dropdown-menu {
  background: #2a2a4f;
  border-radius: 2px;
}
