.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Raleway';

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .nav-link {
    display: inline;
    font-family: 'Raleway';
  }

  &.navbar-transparent {
    background-color: transparent;

    .logo {
      filter: invert(1);
    }

    .nav-link {
      filter: invert(1);
    }
  }
}



